<div class="container-main">
  <app-user-task [username]="username"></app-user-task>


    <div class="column-button" *ngIf="isManager">
      <p-button type="button" (click)="createTask()" label="Create Task"/> 
      <!-- <app-form-task *ngIf="showFormPopup" (showForm) = "handleEvent($event)" [userList]="list"></app-form-task> -->
      <!-- <p-button (click)="showForm()" label="Create task" />-->
      <app-form-dialog [display] = "showFormPopup" (dialogClosed)="showFormPopup = false" [usersList]="list"></app-form-dialog> 
          </div>
  </div>
  


