.container-main{
    display: flex;
    //grid-template-columns: auto;
    flex-wrap: wrap;
    //width: 100%;
    justify-content: center;
    
    
}
table{
    border: 1px solid #ddd;

}
th, td {
    border: 1px solid #ddd ;
    padding: 10px;
}
.column-button{
    
    display: grid;
    place-items: center;
}