<div class="container">
  
    <h2>Angular Display Data from Json File Example</h2>
    <div class="container-main">
    <div class="column-table">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of tasks">
          <td>{{ user.id }}</td>
          <td>{{ user.taskSubject }}</td>
          <td>{{ user.taskDescription }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="column-button">
    <button type="button" (click)="updateData()">Update Data</button>
  </div> -->
</div>
  </div>
  
