<div *ngIf="usertasks && usertasks.length > 0">
<p-table 
    [value]="usertasks"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]"
>
<ng-template pTemplate="caption">
  <div class="flex align-items-center justify-content-between">
      {{username}}
  </div>
</ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Id</th>
            <th style="width:25%">Subject</th>
            <th style="width:25%">Description</th>
            <th style="width:25%">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.subject }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.status }}</td>
        </tr>
    </ng-template>
</p-table>
</div>
<div *ngElse style="display: none;"></div>