<!-- <h1> Template Form</h1>
<input type="text" ngModel="templateForm.username" name="username"/><br/>
<input type="password" ngModel="templateForm.password" name="password"/><br/>
<input type="checkbox" ngModel="templateForm.rememberMe" name="remeberme"/>
<label>Remeber Me</label><br/>
<button type="button" (click)="submitTemplate()">Login (Template-Driven)</button>
<br/><br/> -->
<!-- <h1> Reactive Form</h1>
<form class="" [formGroup]="reactiveForm">
    <input type="text" pInputText formControlName="username"/><br/><br/>
    <input type="password" pInputText formControlName="password"/><br/><br/>
    <p-checkbox formControlName="rememberMe" ></p-checkbox>
    <label for="ny">Remember Me</label><br/><br/>
    <p-button label="Login" (click)="submitReactive()"></p-button>
    
</form> -->

<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 login">
    <div class="text-center mb-5">
        <!-- <img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"> -->
        <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
        <!-- <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a> -->
    </div>

    <div>
        <form class="" [formGroup]="reactiveForm">
        <label for="email1" class="block text-900 font-medium mb-2">Email</label>
        <input id="email1" type="text" formControlName="username" placeholder="Email address" pInputText class="w-full mb-3">

        <label for="password1" class="block text-900 font-medium mb-2">Password</label>
        <input id="password1" type="password" formControlName="password" placeholder="Password" pInputText class="w-full mb-3">

        <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme1" formControlName="rememberMe" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1" class="text-900">Remember me</label>
            </div>
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
        </div>

        <button pButton pRipple label="Sign In" (click)="submitReactive()" icon="pi pi-user" class="w-full"></button>
        </form>
    </div>
</div>

